li{
    display: block;
    color: #ecbbaa;
    padding: 32px 16px;
    text-decoration: none;
    float: right;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.nav_list :hover{
    background: #282828;
    color: #f9f2f4;
}
.content{
color: #ecbbaa;
text-align: center; 
font-family: 'Roboto', sans-serif;
}
#img1{
    height: 650px;
    width:1140px;
    text-align: center;
}
.banner-image{
    padding-top: 75px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #f8f8f8;
    background: url(images/cutimg1.jpg) no-repeat center;
    background-size: cover;
}
.banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    overflow: hidden;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0,0,0,0.7);
    max-width: 500px;
    text-align: center;
    align-content: center;
}
.welcome{
    text-align: center;
    color: #ecbbaa;
    padding-top: 30px;
    font-family: "Golden Plains - Demo";
    font-size: 40px;
}
.collection1{
    text-align: center;
    color: #ecbbaa;
    padding-top: 0px;
    font-family: "Golden Plains - Demo";
    font-size: 60px;
}
.c{
    display: inline-block;
    height: auto;
    background-color: #282828;
    border: 1px solid #282828;
    color: #ecbbaa;
}

.items{
    width: 220px;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #282828;
    border: 1px solid #282828;
    float: left;
    margin-left: 1.8%;
    padding-top: 0px;
}
#new_product{
    text-align: center;
    text-decoration: none;
}
#care{ 
    width: 100%;
    overflow: hidden;
    padding-top: 50px;
}
.care_details{
    width: 405px;
    height: 350px;
    padding-right: 10.69px;
    float: left;
}
#table{
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 80px;
}
.table_items{
    color: #ecbbaa;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
}
.borderless>tbody>tr>td{
    border:0px;
    }

.table_data{
    color: #ecbbaa;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}

#line{
    width: 100%;
    height: 1px;
    color: #ecbbaa;
    border-width: 0px;
    background-color: #ecbbaa;
}
.signup_heading{
    font-family: "Golden Plains - Demo";
    color: #ecbbaa;
}
.label{
    color: #ecbbaa;
    font-family: 'Roboto', sans-serif;
}
.form-control{
    border: none;
    background: none;
    background-color: #282828;
    border-bottom: 2px solid #ecbbaa;
}
.table{
    color: #ecbbaa;
}
.checkout{
    color: #ecbbaa;
}
.btn{
    background-color: #ecbbaa;
    color: #282828;
}
.cart_heading{
    font-family: "Golden Plains - Demo";
    color: #ecbbaa;
    text-align: center;
    font-size: 50px;
}
.info_content{
    font-size: 20px;
}
.thumbnail{
    background-color: #282828;
    border: 1px solid #ecbbaa;
}
.text{
    color: #ecbbaa;
}
.subscription{
    font-family: "Golden Plains - Demo";
    font-size: 20px;
    text-align: center;
    color: #ecbbaa;
}
.fa {
    font-size: 12px;
}