<!DOCTYPE html>
<html>
    <%- include('layouts/head') %>
    <body style="background-color: #282828;">
    <%- include('layouts/header') %>
    
    <div class="text-center">
        <p class="cart_heading"> Contact Us </p><br>
        <p class="content  info_content" style="padding: 40pxpx 250px 0px 250px;">Contact us via social media.<br>
            Please note response times are currently up to 48 hours.
        </p>
        <a href="#"><i class="fa fa-instagram" style="color: #ecbbaa; font-size: 30px; padding: 4px;"></i></a>
        <a href="#"><i class="fa fa-facebook-square" style="color: #ecbbaa; font-size: 30px; padding: 4px;"></i></a>
        <a href="#"><i class="fa fa-pinterest-square" style="color: #ecbbaa; font-size: 30px; padding: 4px;"></i></a>
    </div><br><br>
    
    <div class="container">
        <div class="text-center">
            <p class="content info_content" style="padding: 40pxpx 250px 0px 250px;">You can also mail us regarding 
                any queries or details. Mail to <a href="mailto:elysianhandmade.official@gmail.com" style="color: #ecbbaa;"> elysianhandmade.official@gmail.com</a>
        </p>
        </div>
    </div><br>
    
    <div class="container">
        <div class="text-center">
            <p class="content info_content" style="padding: 40pxpx 250px 0px 250px;">For customization please message us via instagram. 
        </p>
        <a href="#"><i class="fa fa-instagram" style="color: #ecbbaa; font-size: 30px; padding: 4px;"></i></a>
        </div>
    </div>
    
    <%- include('layouts/footer') %>
    <%- include('layouts/responsive') %>
    </body>
</html>
