<!DOCTYPE html>
<html>
    <%- include('layouts/head') %>
    <body style="background-color: #282828;">
    <%- include('layouts/header') %>
          
        <!-- Big display image -->
    <div class="container">
        <div class="banner-image img-responsive">
            <center>
                <div class="banner_content" style="padding: 0px 40px 20px 40px">
                    <h1 class="welcome"> Every piece of jewellry is handmade with love</h1>
                        <p class="content"> Pick your fav </p>
                    <a href="/products" class="btn btn-danger btn-lg active" style="color: #282828; background-color: #ecbbaa; border: none;">Shop Now</a>
                </div>
            </center>
        </div>
    </div>
         
        
    <!-- Welcome Text -->
    <div class="container">
        <p class="welcome"> Welcome To Elysian</p>
        <p class="content"> We present you elegant, beautiful and best quality handmade jewelry. We are determined to create 
        pieces that will make you fall in love with them. We know how hard it is to find jewelry of our choice, that's where we 
        give you a choice to customize your pieces. <br> Happy Shopping!</p>
    </div>
    
        
        <!-- Collections -->
        <div class="container">
            <p class="collection1" style="padding-top: 40px"> Shop By Style </p>
        </div>
        
        <!-- Categories -->
        <div class="container">
            <!-- Row1 -->
            <div class="row text-center">
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail c" style="border: none;">
                        <a href="/products/bracelets" style="text-decoration: none;">
                        <img class="img-responsive" src="images/83.jpg" alt="bracelets" style="height: 266px;width: 266px;">
                        <div class="caption">
                            <p style="font-size: 20px; font-family: 'Roboto', sans-serif; color: #ecbbaa;">
                                Bracelets
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail c" style="border: none;">
                        <a href="/products/wiredearrings" style="text-decoration: none;">
                        <img class="img-responsive" src="images/c1.png" alt="Earrings" style="height: 266px;width: 266px;">
                        <div class="caption">
                            <p style="font-size: 20px; font-family: 'Roboto', sans-serif; color: #ecbbaa;">
                                Wired Earrings
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail c" style="border: none;">
                        <a href="/products/necklaces" style="text-decoration: none;">
                        <img class="img-responsive" src="images/c3.png" alt="Necklaces" style="height: 266px;width: 266px;">
                        <div class="caption">
                            <p style="font-size: 20px; font-family: 'Roboto', sans-serif; color: #ecbbaa;">
                                Necklaces
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            
            <!-- Row2 -->
            <div class="row text-center">
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail c" style="border: none;">
                        <a href="/products/pearls" style="text-decoration: none;">
                        <img class="img-responsive" src="images/c4.png" alt="Pearls" style="height: 266px;width: 266px;">
                        <div class="caption">
                            <p style="font-size: 20px; font-family: 'Roboto', sans-serif; color: #ecbbaa;">
                                Pearls
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail c" style="border: none;">
                        <a href="/products/polymerclay" style="text-decoration: none;">
                        <img class="img-responsive" src="images/52.jpg" alt="Polymer Clay" style="height: 266px;width: 266px;">
                        <div class="caption">
                            <p style="font-size: 20px; font-family: 'Roboto', sans-serif; color: #ecbbaa;">
                                Polymer Clay
                            </p>
                        </div>
                        </a>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail c" style="border: none;">
                        <a href="/products/beaded" style="text-decoration: none;">
                        <img class="img-responsive" src="images/c6.png" alt="Beaded" style="height: 266px;width: 266px;">
                        <div class="caption">
                            <p style="font-size: 20px; font-family: 'Roboto', sans-serif; color: #ecbbaa;">
                                Beaded
                            </p>
                        </div>
                        </a>
                    </div>
                </div> 
            </div>
            
            <!-- Row3 -->
            <div class="row text-center">
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail c" style="border: none;">
                        <a href="/products/earcuffs" style="text-decoration: none;">
                        <img class="img-responsive" src="images/84.jpg" alt="Ear cuffs" style="height: 266px;width: 266px;">
                        <div class="caption">
                            <p style="font-size: 20px; font-family: 'Roboto', sans-serif; color: #ecbbaa;">
                                Ear Cuffs
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail c" style="border: none;">
                        <a href="/products/threads" style="text-decoration: none;">
                        <img class="img-responsive" src="images/19.jpg" alt="Tassels" style="height: 266px;width: 266px;">
                        <div class="caption">
                            <p style="font-size: 20px; font-family: 'Roboto', sans-serif; color: #ecbbaa;">
                                Threads
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail c" style="border: none;">
                        <a href="/products/tassels" style="text-decoration: none;">
                        <img class="img-responsive" src="images/20.jpg" alt="Tassels" style="height: 266px;width: 266px;">
                        <div class="caption">
                            <p style="font-size: 20px; font-family: 'Roboto', sans-serif; color: #ecbbaa;">
                                Tassels
                            </p>
                        </div>
                        </a>
                    </div>
                </div>  
            </div>
            
            <!-- Shop all -->
            <div class="container">
                <a href="/products" style="text-decoration: none; padding-top: 0px">
                    <h4 style="text-align: right; padding-right: 122px;font-family: 'Roboto', sans-serif; color: #ecbbaa; ">
                    SHOP ALL>
                    </h4>
                </a>
            </div><br><br><br>
        
        
        <!-- New arrivals heading -->
        <div>
            <p class="collection1"> New Arrivals </p>
        </div>
        <!-- New Arrival -->
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-3">
                    <div class="thumbnail c" style="border: none;">
                        <a href="#" style="text-decoration: none;">
                        <img class="img-responsive" src="images/n1.png" alt="new arrival" style="height: 300px;width:220px;">
                        <div class="caption">
                            <p style="font-size: 20px; font-family: 'Roboto', sans-serif; color: #ecbbaa;">
                                Flower Pearl Dangler<br>
                                Rs. 250 
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="thumbnail c" style="border: none;">
                        <a href="#" style="text-decoration: none;">
                        <img class="img-responsive" src="images/n2.png" alt="new arrival" style="height: 300px;width:220px;">
                        <div class="caption">
                            <p style="font-size: 20px; font-family: 'Roboto', sans-serif; color: #ecbbaa;">
                                Blue Beaded Danglers<br>
                                Rs. 250  
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="thumbnail c" style="border: none;">
                        <a href="#" style="text-decoration: none;">
                        <img class="img-responsive" src="images/n3.png" alt="new arrival" style="height: 300px;width:220px;">
                        <div class="caption">
                            <p style="font-size: 20px; font-family: 'Roboto', sans-serif; color: #ecbbaa;">
                                Purple Crystal Dangler<br>
                                Rs. 250 
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="thumbnail c" style="border: none;">
                        <a href="#" style="text-decoration: none;">
                        <img class="img-responsive" src="images/n4.png" alt="new arrival" style="height: 300px;width:220px;">
                        <div class="caption">
                            <p style="font-size: 20px; font-family: 'Roboto', sans-serif; color: #ecbbaa;">
                                Flower Pearl Green Drop<br>
                                Rs. 250 
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div><br><br><br>

        <!-- Shipping, Care, Gift details -->
        <div style="width: 100%;">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" src="images/Component 1.png" alt="shipping">
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="images/Component 2.png" alt="Care">
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="images/Component 3.png" alt="Gift">
                </div>
            </div>      
        </div>
        <br><br><br>
        
        <!-- Below details final -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-8">
                    <table class="table borderless table-responsive">
                        <tbody>
                            <tr>
                                <td class="table_items"><b>Elysian</b></td>
                                <td class="table_items"><b>Customer</b></td>
                                <td class="table_items"><b>Help</b></td>
                                <td class="table_items"><b>Personal</b></td>
                            </tr>
                            <tr>
                                <td class="table_data">About</td>
                                <td class="table_data">Contact</td>
                                <td class="table_data">FAQ</td>
                                <td class="table_data">My Account</td>
                            </tr> 
                            <tr>
                                <td class="table_data">Store</td>
                                <td class="table_data">Refund</td>
                                <td class="table_data">Pricing</td>
                                <td class="table_data">View Cart</td>
                            </tr>
                            <tr>
                                <td class="table_data">FAQ</td>
                                <td class="table_data">Online Shop</td>
                                <td class="table_data">Track Order</td>
                                <td class="table_data">Wishlist</td>
                            </tr>
                            <tr>
                                <td class="table_data"></td>
                                <td class="table_data">Terms &amp; Conditions</td>
                                <td class="table_data">Returns</td>
                                <td class="table_data">Gift Cards</td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 col-4" style="padding: 8px 0px 4px 0px;">
                    <p class="content">Follow us on </p>
                    <center>
                    <a href="#"><i class="fa fa-instagram" style="color: #ecbbaa; font-size: 30px; padding: 4px;"></i></a>
                    <a href="#"><i class="fa fa-facebook-square" style="color: #ecbbaa; font-size: 30px; padding: 4px;"></i></a>
                    <a href="#"><i class="fa fa-pinterest-square" style="color: #ecbbaa; font-size: 30px; padding: 4px;"></i></a></center>
                    <br>
                    <form>
                            <p class="subscription">Subscribe To Our Newsletter</p>
                            <div class="input-group" style="padding: 2px 20px 0px 20px;">
                                <input type="email" class="form-control" placeholder="Enter your email">
                                <span class="input-group-btn">
                                    <button class="btn" type="submit">Subscribe Now</button>
                                </span>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <br>
        

        <%- include('layouts/footer') %>
        <%- include('layouts/responsive') %>
    </body>
</html>

