<!DOCTYPE html>
<html>
    <%- include('layouts/head') %>
    <body style="background-color: #282828;">
    <%- include('layouts/header') %>
          
    <h2 class="content">Thank you for shopping with us!</h2>
    <br>
    <h4 class="content">Your order has been placed successfully. An order confirmation has been sent to your mail.</h4>
    <br><br><br><br>
    <center>
        <a href="/" class="btn btn-danger btn-lg active" style="color: #282828; background-color: #ecbbaa; border: none;">Continue Shopping</a>
    </center>

    <%- include('layouts/footer') %>
    <%- include('layouts/responsive') %> 
    </body>
</html>
