<!DOCTYPE html>
<html>
  <%- include('layouts/head') %>
  <body style="background-color: #282828;">
    <%- include('layouts/header') %>
    
    <div class="text-center  info_content">
        <p class="cart_heading content"> Wishlist </p><br>
        <p class="content">Here you can save your favourite pieces. <br>They will be here waiting till you are ready to make your purchase.<br> 
            <br>Just click on the heart icon on a product to add it to your wishlist.
        </p>
        <br><br>
    </div>
    
    <%- include('layouts/footer') %>
    <%- include('layouts/responsive') %> 
  </body>
</html>
