<div style="padding-top: 50px;">
    <hr id="line">
    <p class="container-fluid" style="color: #ecbbaa;font-size: 10px;font-family: 'Roboto', sans-serif; text-align: left;">
        Copyrights under Elysian, All Rights Reserved.
    </p>
</div>