<head>
    <title>Elysian</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//db.onlinewebfonts.com/c/9bffdc939e6dc320b41ed75a76a55e69?family=Golden+Plains+-+Demo" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheet1.css">
    
    <style>
        .topnav {
            overflow: hidden;
            background-color: #282828;
            display:block;
        }

        .topnav a {
          float: left;
          display: inline;
          color: #f2f2f2;
          text-decoration: none;
          font-size: 17px;
        }

        .topnav a:hover {
          background-color: #282828;
          color: #ecbbaa;
        }

        .topnav .icon {
          display: none;
        }

        @media screen and (max-width: 988px) {
          .topnav a:not(:out-of-range){display: none;}
          .topnav a.icon {
            float: right;
            display: block;
          }
        }

        @media screen and (max-width: 988px) {
          .topnav.responsive {position: relative;}
          .topnav.responsive .icon {
            position: relative;
          }
          .topnav.responsive a {
            float: none;
            display: block;
            text-align: right;
            padding: 52px 15px 0px;
          }
        }
    </style>    
</head>